.logo {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 1rem;

  a, a:visited {
    color: white;
    display: block;
    text-decoration: none;
  }

  h1 {
    line-height: 5rem;
    color: white;
    margin: 0;
    @include font-size(1.75rem);

    &.hidden { @include ir(); }
  }
}
